body{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  width: 95%;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

.heading{
  background-color: blue;
  color: white;
  padding: 30px;
  margin: 0;
}

form{
  display: flex;
  flex-direction: column;
  margin: 35px;
}

select{
  height: 3rem;
  margin: 15px 0 0 2.5em;
}

input, textarea{
  resize: vertical;
  max-height: 10em;
  font-family: FontAwesome;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0 10px 2.5em;
}

i{
  margin: 2em 0 -2em 0;
}

footer{
  background-color: lightblue;
}

#submit-button{
  color: white;
  padding: 10px;
  margin: 15px;
  background: blue;
}
